# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#folder
Server-lib/.vs/
Server-lib/x64/

#file
Server-lib/*.sln
Server-lib/Server-lib/*.vcxproj
Server-lib/Server-lib/*.vcxproj.filters
Server-lib/Server-lib/*.vcxproj.user